<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container-fluid">
        <div class="box">
            <div class="img_container">
                <div class="img-box b1">
                    <img src="{{ about_data.image1.url }}" alt="">
                </div>
                <div class="img-box b2">
                    <img src="{{ about_data.image2.url }}" alt="">
                </div>
            </div>
            <div class="detail-box">
                <h2>{{ about_data.title }}</h2>
                <p>{{ about_data.content }}</p>
               <!--  <a href="#">Read More</a>-->
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

{% endblock %}

</html>
